{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Information</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" 
    rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'training_management/base.css' %}"> 
</head>
<body>
    <div class="container">
        {% block title %}Course Information{% endblock %}
        {% block content %}
        <h2>{{ course_name }}</h2>
        <p>Description: {{ course_description }}</p>
        <p>Deadline: {{ deadline }}</p>
        <p>Pool ID: {{ pool_id }}</p>
        <p>Lane ID: {{ lane_id }}</p>
        <p>Price: {{ price }}</p>
        <p>Coach ID: {{ coach_id }}</p>

        <a href="{% url 'all_courses' %}">Back to all courses</a>
        {% endblock %}
    </div>
</body>
</html>