{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" 
    rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'user_systems/base.css' %}"> 
</head>
<body>
    <div class="container">
        {% block title %}Schedule{% endblock %}
        {% block content %}
        <h2>My Schedule</h2>
        <!-- You can create a calendar view. For simplicity, just list them: -->
        <ul>
            {% for c in courses %}
                <li>{{ c.0 }}: from {{ c.1 }} to {{ c.2 }}</li>
            {% empty %}
                <li>No scheduled courses.</li>
            {% endfor %}
        </ul>
        {% endblock %}
    </div>
</body>
</html>