{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Ratings</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link 
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" 
    rel="stylesheet"
    />

    <link rel="stylesheet" href="{%static 'rating_system/base.css' %}"> 
</head>
<body>
    <div class="container">
        <h2 class="text-lg text-center margin-between">Course Ratings</h2>
       
    </div>
</body>
</html>